body {
    background-color: #EFEFEF;
    padding: 0;
    margin: 0;
}

.background {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: black;
    width: 100%;
    height: 100dvh;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-bold';
    src: url('fonts/Barlow-Black.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

.header {
    color: black;
    position: fixed;
    width: 100%;
    height: 6dvh;
    top: 0;
    z-index: 6;
    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    color: white;
}

.header.scrolled {
    background-color: rgb(48, 48, 48);
}
  
.header-right {
    display: flex;
    gap: 2dvh;
    right: 2dvh;
    position: fixed;
}

.logo-main {
    max-width: 6dvh;
    padding: 0;
    margin: 0;
    display: flex;
    left: 2dvh;
    position: fixed;
    cursor: pointer;
}

.mainPhoto {
    width: 100%;
    height: 100dvh;
    opacity: 0.7;
    z-index: 2;
    position: absolute;
}

.headerLinks {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.main-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    z-index: 3;
}


.littleTitle {
    color: white;
    z-index: inherit;
    font-family: Barlow;
    font-weight: bold;
    font-size: 3dvh;
    margin-top: 0;
    padding-top: 0;
}

.title {
    color: white;
    z-index: inherit;
    font-family: Barlow-bold;
    font-size: 13dvh;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0vh;
}


.logo {
    padding: 2vh;
    width: 50dvh;
}


.footer {
    height: 15dvh;
    display: flex;
    flex-direction: row;
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: Barlow;
    align-items: center;
    z-index: 2;
}

.logoFooter {
    max-width: 10dvh;
    height: auto;
    object-fit: contain;
    left: 10dvh;
    margin-left: 2dvh;
}

.websiteName {
    font-size: 3svh;
    display: flex;
    margin-left: 2dvh;
}

.verticalFooter {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding-left: 5dvh;
    padding-right: 3dvh;
}

.footerTitle {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.footerRow {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-right: 2dvh;
    gap: 6dvh;
}



.bodyLayout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.bodyLayout iframe {
    padding-top: 4dvh;
    margin: 0;
    min-height: 95dvh;
    width: 680px;
    border: 0;
    z-index: 1;
}