body {
    background-color: #EFEFEF;
    padding: 0;
    margin: 0;
}

.background {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: black;
    width: 100%;
    height: 100vh;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-bold';
    src: url('fonts/Barlow-Black.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

.header {
    color: black;
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    z-index: 6;
    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    color: white;
}

.header.scrolled {
    background-color: rgb(48, 48, 48);
}
  
.header-right {
    display: flex;
    gap: 2vh;
    right: 2vh;
    position: fixed;
}

.logo-desktop {
    max-width: 9vh;
    padding: 0;
    margin: 0;
    display: flex;
    left: 2vh;
    position: fixed;
    cursor: pointer;
}

.mainPhoto {
    width: 100%;
    height: 100vh;
    opacity: 0.7;
    z-index: 2;
    position: absolute;
    object-fit: cover;
}

.headerLinks {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.main-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 3;
}


.littleTitle {
    color: white;
    z-index: inherit;
    font-family: Barlow;
    font-weight: bold;
    font-size: 3vh;
    margin-top: 0;
    padding-top: 0;
}

.title {
    color: white;
    z-index: inherit;
    font-family: Barlow-bold;
    font-size: 13vh;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0vh;
}


.logo {
    padding: 2vh;
    width: 50vh;
}


.footer {
    height: 15vh;
    display: flex;
    flex-direction: row;
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: Barlow;
    align-items: center;
}

.logoFooter {
    max-width: 10vh;
    height: auto;
    object-fit: cover; 
    left: 10vh;
    margin-left: 2vh;
}

.websiteName {
    font-size: 3svh;
    display: flex;
    margin-left: 2vh;
}

.verticalFooter {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding-left: 5vh;
    padding-right: 3vh;
}

.footerTitle {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.footerRow {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-right: 2vh;
    gap: 6vh;
}






.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    font-family: Barlow;
}

.title1{
    font-size: 4vh;
    font-weight: bold;
}


.section2{
    display: flex;
    flex-direction: row;
}

.reverseSection2 {
    display: flex;
    flex-direction: row;
}


.halfPhoto {
    width: 50%;
    height: auto;
    object-fit: cover; 
    display: block;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 10vh;
    justify-content: center;
    background-color: #8b583d;
    color: white;
    font-family: Barlow;
    box-sizing: border-box;
}

.header1 {
    font-weight: bold;
    font-size: 5vh;
}

.column3 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 10vh;
    justify-content: center;
    background-color: #2056b9;
    color: white;
    font-family: Barlow;
    box-sizing: border-box;
    align-items: end;
}


.column4 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 10vh;
    justify-content: center;
    background-color: #bdb5a7;
    color: white;
    font-family: Barlow;
    box-sizing: border-box;
}


.readMore1 {
    border-radius: 74px;
    border: none;
    color: #8b583d;
    font-weight: bold;
    font-size: 2vh;
    width: 25vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    cursor: pointer;
    background: white;
    margin-bottom: 1vh;
}

.readMore2 {
    border-radius: 74px;
    border: none;
    color: #2056b9;
    font-weight: bold;
    font-size: 2vh;
    width: 25vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    cursor: pointer;
    background: white;
    margin-bottom: 1vh;
}


.readMore3 {
    border-radius: 74px;
    background-color: white;
    border: none;
    color: #bdb5a7;
    font-weight: bold;
    font-size: 2vh;
    width: 25vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    cursor: pointer;
    margin-bottom: 1vh;
}


.blogPhoto {
    width: 50vh;
    object-fit: cover;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 5vh;
    justify-content: center;
    align-items: center;
}

.column2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: Barlow;
    padding-left: 10vh;
    padding-right: 10vh;
}

.header2 {
    font-size: 4vh;
    font-weight: bold;
    margin-bottom: 0;
}


.readMore4 {
    border-radius: 74px;
    border: none;
    text-align: center;
    cursor: pointer;
    background-color: #26272d;
    color: #efefef;
    font-weight: bold;
    margin: auto;
    padding-top: 1.5vh;
    padding-bottom:1.5vh;
    width: 20vh;
    font-size: 1.5vh;
    margin-bottom: 1vh;
}







.overlay {
    display: none;
    position: absolute;
}

.x {
    display: none;
    position: absolute;
}

.bar {
    display: none;
}

.xButton {
    display: none;
}

.logo-mobile {
    display: none;
}

.header-background {
    display: none;
}




@media (max-width: 800px){ 
.mainPhoto {
  object-fit: cover;
}
.main-layout {
  text-align: center;
}
.title {
  font-size: 10vh
}

.littleTitle {
  font-size: 2.5vh;
}





.header-right {
    display: flex;
    flex-direction: column;
    top: 10vh;
    text-align: end;
    top: 13vh;
    right: 8vh;
    background-color: transparent;
    font-size: 3vh;
    gap: 3vh;
    transition: transform 0.3s ease;
}


body, html {
  background-color: rgb(48, 48, 48);
}
.header {
    background-color: rgb(48, 48, 48);
    min-height: 100svh;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 60%;
    right: 0;
    z-index: 6;

    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.header.open {
    transform: translateX(0);
}

.header-background.show {
    bottom: 0;
    top: 0;
    position: fixed;
    z-index: 5;
    left: 0;
    width: 100%;
    height: 8vh;
    display: block;
    background-color: rgb(48, 48, 48);
}
.overlay {
    position: fixed;
    display: block;
    background-color: #292929;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

 .overlay.show {
    pointer-events: auto;
    display: block;

    opacity: 0.7;
  }
  .logo-mobile {
    max-width: 8vh;
    padding: 0;
    margin: 0;
    display: flex;
    left: 2vh;
    top: 2vh;
    position: fixed;
    cursor: pointer;
    z-index: 6;
}

.x {
    display: block;
    position: absolute;
    z-index: 7;
    top: 2vh;
    right: 2vh;
    max-width: 5vh;
}

.xButton {
    display: block;
}

.bar {
    display: block;
    position: fixed;
    width: 3vh;
    top: 3vh;
    right: 2vh;
    z-index: 6;
}

.logo-desktop {
    display: none;
}

.barButton {
    background-color: transparent;
    border: none;
    z-index: 6;
    position: absolute;
}

.xButton {
    background-color: transparent;
    border: none;
    z-index: 6;
}

.title {
    text-align: center;
    width: 100%;
}
body.no-scroll {
    position: fixed;
    overflow: hidden;
    height: 100vh;
}

body, html {
    width: 100%;
    min-width: 100%;
    background-color: rgb(48, 48, 48);
}
.footer {
    width: 100%;
    height: fit-content;
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(48, 48, 48);
    text-align: center;
}

.verticalFooter {
    top: 0;
    padding: 0;
    margin: 0;
   min-width: fit-content;
}
.footerRow {
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 0;
}
.websiteName {
    margin: 0;
    padding: 0;
}
.logoFooter {
    margin-left: -1vh;
    padding: 0;
    left: 0;
    padding-bottom: 0.5vh;
}
.footerP {
    margin-top: 1vh;
}

.footerTitle {
    padding-top: 3vh;
}

.littleTitle {
    margin-top: 0;
}

.section1 {
    text-align: center;
    background-color: #EFEFEF;
}

.section2 {
    flex-direction: column;
}
.halfPhoto {
    width: 100%;
}
.column {
    text-align: center;
    align-items: center;
    width: 100%;
    padding: 4vh;
}
.header1 {
    margin: 0;
}

.row {
    flex-direction: column;
    background-color: #EFEFEF;
}

.column2 {
    padding: 1vh;
}

.blogPhoto {
    width: 99%;
    object-fit: cover;
    height: auto;
}

.reverseSection2 {
    flex-direction: column;
}

.column3{
    padding: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 3vh;
}

.column4 {
    padding: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 3vh;
}
}