body {
    background-color: #EFEFEF;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100dvh;
    overflow-x: hidden;
}

.background {
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: black;
    width: 100%;
    height: 100dvh;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow';
    src: url('fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Barlow-bold';
    src: url('fonts/Barlow-Black.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

.header {
    color: black;
    position: fixed;
    width: 100%;
    height: 10dvh;
    top: 0;
    z-index: 6;
    padding: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    color: white;
}

.header.scrolled {
    background-color: rgb(48, 48, 48);
}
  
.header-right {
    display: flex;
    gap: 2dvh;
    right: 2dvh;
    position: fixed;
}

.logo-desktop {
    max-width: 9dvh;
    padding: 0;
    margin: 0;
    display: flex;
    left: 2dvh;
    position: fixed;
    cursor: pointer;
}

.mainPhoto {
    width: 100%;
    height: 100dvh;
    opacity: 0.7;
    z-index: 2;
    position: absolute;
}

.headerLinks {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.main-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    z-index: 3;
}


.littleTitle {
    color: white;
    z-index: inherit;
    font-family: Barlow;
    font-weight: bold;
    font-size: 3dvh;
    margin-bottom: 0;
    padding-bottom: 0;
}

.title {
    color: white;
    z-index: inherit;
    font-family: Barlow-bold;
    font-size: 13dvh;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 5vh;
}

.viewAll {
    color: white;
    z-index: inherit;
    background-color: #0033A0;
    border: none;
    font-family: Barlow;
    cursor: pointer;
    border-radius: 74px;
    width: 25dvh;
    padding-top: 1dvh;
    padding-bottom: 1dvh;
    font-size: 2vh;
}

.logo {
    padding: 2vh;
    width: 50dvh;
}

.layout2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.heading {
    color: #0033A0;
    font-family: Barlow-bold;
    font-size: 5dvh;
    margin-left: 10dvh;
    margin-bottom: 0dvh;
}

.ourStory{
    color: black;
    z-index: 1;
    max-width: 80dvh;
    font-family: Barlow;
    margin-left: 10dvh;
    font-size: 3.5dvh;
}


.heading2 {
    color: white;
    font-family: Barlow-bold;
    font-size: 5dvh;
    margin-left: 10dvh;
    margin-bottom: 0dvh;
}

.clubDescription{
    color: white;
    z-index: 1;
    max-width: 80dvh;
    font-family: Barlow;
    margin-left: 10dvh;
    font-size: 3.5dvh;
}


.layout3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4dvh;
    margin-bottom: 4dvh;
}

.clubJoin{
    color: black;
    width: 90%;
    font-family: Barlow;
    font-size: 3.5dvh;
    text-align: center;
}

.layout4 {
    padding: 0;
    margin: 0;
    background-color: #A97358;
    z-index: 2;
    height: fit-content;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.layout6 {
    padding: 0;
    margin: 0;
    background-color: #335364;
    z-index: 2;
    height: fit-content;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.vertical2 {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.halfPhoto {
    width: 50vw;
    height: auto;
    background-size: cover;
    background-position: center;
}

.viewAll2 {
    color: #A97358;
    z-index: inherit;
    background-color: white;
    border: none;
    font-family: Barlow;
    font-weight: bold;
    cursor: pointer;
    border-radius: 74px;
    width: 25dvh;
    padding-top: 1dvh;
    padding-bottom: 1dvh;
    font-size: 2vh;
    margin-left: 10dvh;
}

.viewAll4 {
    color: #335364;
    z-index: inherit;
    background-color: white;
    border: none;
    font-family: Barlow;
    font-weight: bold;
    cursor: pointer;
    border-radius: 74px;
    width: 25dvh;
    padding-top: 1dvh;
    padding-bottom: 1dvh;
    font-size: 2vh;
    margin-left: 10dvh;
}


.layout5 {
    padding: 0;
    margin: 0;
    background-color: #252E40;
    z-index: 2;
    height: fit-content;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.vertical3 {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: end;
    align-items: end;
}

.heading3 {
    color: white;
    font-family: Barlow-bold;
    font-size: 5dvh;
    margin-right: 10dvh;
    margin-bottom: 0dvh;
}

.clubDescription2 {
    color: white;
    z-index: 1;
    max-width: 80dvh;
    font-family: Barlow;
    margin-right: 10dvh;
    font-size: 3.5dvh;
}

.viewAll3 {
    color: #252E40;
    z-index: inherit;
    background-color: white;
    border: none;
    font-family: Barlow;
    font-weight: bold;
    cursor: pointer;
    border-radius: 74px;
    width: 25dvh;
    padding-top: 1dvh;
    padding-bottom: 1dvh;
    font-size: 2vh;
    margin-right: 10dvh;
}


.footer {
    height: 15dvh;
    display: flex;
    flex-direction: row;
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: Barlow;
    align-items: center;
}

.logoFooter {
    max-width: 10dvh;
    height: auto;
    object-fit: contain;
    left: 10dvh;
    margin-left: 2dvh;
}

.websiteName {
    font-size: 3svh;
    display: flex;
    margin-left: 2dvh;
}

.verticalFooter {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding-left: 5dvh;
    padding-right: 3dvh;
}

.footerTitle {
    padding: 0;
    margin: 0;
    font-weight: bold;
}

.footerRow {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding-right: 2dvh;
    gap: 6dvh;
}

.overlay {
    display: none;
    position: absolute;
}

.x {
    display: none;
    position: absolute;
}

.bar {
    display: none;
}

.xButton {
    display: none;
}

.logo-mobile {
    display: none;
}



@media (max-width: 600px){
.header {
    background-color: #292929;
    height: 100dvh;
    width: 60%;
    right: 0;
    z-index: 6;

    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.header.open {
    transform: translateX(0);
}


.header-right {
    display: flex;
    flex-direction: column;
    top: 10dvh;
    text-align: end;
    top: 13dvh;
    right: 8dvh;
    background-color: #292929;
    font-size: 3dvh;
    gap: 3dvh;
    transition: transform 0.3s ease;
}

.mainPhoto {
    object-fit: cover;
    width: 100%;
    height: 100dvh;
}

.overlay {
    display: block;
    background-color: #292929;
    width: 100%;
    height: 100dvh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3s ease;
}

 .overlay.show {
    pointer-events: auto;
    display: block;

    opacity: 0.7;
  }

.logo-mobile {
    max-width: 8dvh;
    padding: 0;
    margin: 0;
    display: flex;
    left: 2dvh;
    top: 2dvh;
    position: fixed;
    cursor: pointer;
    z-index: 6;
}

.x {
    display: block;
    position: absolute;
    z-index: 7;
    top: 2dvh;
    right: 2dvh;
    max-width: 5dvh;
}

.xButton {
    display: block;
}

.bar {
    display: block;
    position: fixed;
    width: 4.5dvh;
    top: 1dvh;
    right: 2dvh;
    z-index: 6;
}

.logo-desktop {
    display: none;
}

.barButton {
    background-color: transparent;
    border: none;
    z-index: 6;
}

.xButton {
    background-color: transparent;
    border: none;
    z-index: 6;
}
}
#info {
    scroll-margin-top: 27dvh
}
